* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.btn {
  padding: 20px 30px;
  outline: none;
  border: 0;
  margin: 0 20px;
  cursor: pointer;
}
